body {
    background-color: #5D8BF4;
    text-align:center;
    font-family:"lato";

}

h1{
    font-weight: 400;
    margin-top:2rem;
    text-align:left;
    margin-top:0;
}

h1 span{
    font-weight: 100;
    color:white;
}
body > section.greeting > div > div:nth-child(1) > p > span{
    font-weight: 400;
    color:white;
}


.container-fluid {
    padding:1%;

}

/*Navbar*/
.navbar-brand {
  font-size: 2.5rem;
  display: inline-block;
}

.nav-link {
  font-size: 1.2rem;


}
.nav-item {
  padding: 0 10px;
  }

/*title*/

.profil-picture {
    width:50%;


}
.greeting {
    margin-top:10%;
    margin-left:5%;
}

.greeting h1 {
    text-align:left;
}
.greeting p {
    text-align:left;
}



/*white section*/

.white-section {
    background-color: #DFF6FF;
    margin-top:5%;
    margin-bottom:33%;
}

.about_me_img {
    width:25%;
}

.about_me_img:hover  {
    width:26%;
    }

.hire_me_img {
    width:15%;
}

.hire_me_img:hover {
    width:17%;
}

/*menager-dev*/

.manager-picture {
    width:15%;
    padding-bottom:6%;
    margin-left:30%;

}
#manager {
    padding-bottom:35%;
    margin-top:20%;
    text-align:left;
    margin-left:5%;
}

#manager h2 span {
    color:white;
}
#manager p span {
    color:white;
}

#manager p {
    text-indent: 6%;
}

.dev-picture {
    width:25%;
    margin-left:30%;
}

#developer {
    padding-bottom:35%;
    margin-top:20%;
    text-align:left;
    margin-left:5%;
}
#developer h2 {
    padding-bottom:5%;
}
#developer p {
    text-indent: 6%;
}

#developer h2 span {
    color:white;
}
#developer p span {
    color:white;
}

/*dog*/
#dog {
    padding-bottom:35%;
    margin-top:20%;
    text-align:left;
    margin-left:5%;
}
#dog h2 {
    padding-bottom:5%;
}
#dog p {
    text-indent: 6%;
}

#dog h2 span {
    color:white;
}
#dog p span {
    color:white;
}
.dog-picture {
    width:35%;
    margin-left:30%;


/*contact form*/

#form{
    margin-left:30%;
    margin-top:5%;
    margin-right:30%;
}

/*footer*/

a {
    color:black;
}







