body {
    background-color: #5D8BF4;
    text-align:center;
    font-family:"lato";
    font-size: xx-large;
}

body p {
    font-size: x-large;
}

h1{
    font-weight: 400;
    margin-top:2rem;
    text-align:justify;
    margin-top:0;
}

h1 span{
    font-weight: 100;
    color:white;
}
body > section.greeting > div > div:nth-child(1) > p > span{
    font-weight: 400;
    color:white;
}


.container-fluid {
    padding:1%;
}

/*Navbar*/

#navbarNav{
    text-align:right;
    font-size: xx-large;

}

.nav{
    padding-bottom:20%;

}
.navbar-brand {
  font-size: xx-large;
  display: inline-block;
}

.nav-link {
   font-size: xx-large;

}
.nav-item {
  padding: 0 10px;
}

#navbarNav > ul > li:nth-child(1) > a{
    color:black;
}
#navbarNav > ul > li:nth-child(2) > a{
    color:black;
}
#navbarNav > ul > li:nth-child(3) > a{
    color:black;
}

/*title*/

.profil-picture {
    width:40%;
    padding-top:7%;
}
.greeting {
    margin-left:5%;
    margin-bottom:25%;
}

.greeting h1 {
    text-align:justify;
}
.greeting p {
    text-align:justify;
}

/*white section*/

.white-section {
    background-color: #DFF6FF;
    margin-top:5%;
    margin-bottom:33%;
}

.about_me_img {
    width:25%;
}

.about_me_img:hover  {
    width:26%;
    }

.hire_me_img {
    width:15%;
}

.hire_me_img:hover {
    width:17%;
}

/*menager-dev*/

.manager-picture {
    width:35%;
    padding-bottom:6%;
    margin-left:30%;

}
.manager {
    text-align:justify;
    margin-left:5%;
    margin-bottom:5%;
    margin-right:5%;
    padding-top:2%;
}

.manager h2 span {
    color:#2D31FA;
}
.manager p span {
    color:#2D31FA;
}

.manager p {
    text-indent: 6%;
}

.dev-picture {
    width:45%;
    margin-left:30%;
}

#developer {
    text-align:justify;
    margin-left:5%;
    padding-top:1%;
    margin-right:5%;
}
#developer h2 {
    padding-bottom:5%;
}
#developer p {
    text-indent: 6%;
}

#developer h2 span {
    color:#2D31FA
}
#developer p span {
    color:#2D31FA;
    }

.background {
    background-color:#DFF6FF;
}

/*dog*/
#dog {
    text-align:justify;
    margin-left:5%;
    padding-top:1%;
    padding-bottom:1%;
    margin-right:5%;
}
#dog h2 {
    padding-bottom:5%;
}
#dog p {
    text-indent: 6%;
}

#dog h2 span {
    color:#2D31FA;
}

.dog-picture {
    width:45%;
    margin-left:30%;
}

/*contact form*/

#form{
    margin-left:30%;
    margin-right:30%;

}

/*footer*/

a {
    color:black;
}

#footer{
    margin-top:30%;

}







