{% include "header.html" %}
<body>
    <div class="background">
    <section id="dog">

      <div class="row">
          <div class="col-lg-6">
            <h2>Climbing is the biggest <span>Passion</span> of my life.</h2>
            <p>Although it may seems funny, but for me climbing is a lot like coding. Both can put you in this special
                state of mind, setting you exactly in current moment, allow you to focus completely on the task. Climbers
                call it flow. This term is also widely known among musicians and other artists. Felling flow is one of
                the things in live which I appreciate most.
           </p>
          </div>
        <div class="col-lg-6">
          <img class="dog-picture" src="static/img/climbing.png" alt="climber">
        </div>
      </div>
        </section>
    </div>
</body>
{% include "footer.html" %}