{% include "header.html" %}
<body>
    <h1>Developer career</h1>
      <div class="row">
          <div class="col-lg-6">
            <h2>Finally I found my career path!</h2>
            <p>33 years young civil enginerLorem ipsum dolor sit amet, consectetur adipiscing elit.
                Pellentesque porttitor non ligula tristique egestas. Mauris eu viverra dolor.</p>
          </div>
        <div class="col-lg-6">
          <img class="dev-picture" src="static/img/scrum.png" alt="scrum">
        </div>
      </div>
</body>
{% include "footer.html" %}