{% include "header.html" %}
<body>
    <div class="background">
    <section class="developer">

      <div class="row">
          <div class="col-lg-6">
            <h2>Finally I found my career path!</h2>
            <p>I have always enjoyed figuring out how does something work. If something is broken
            and I get to repair it, it is even better. That is one of the reasons why I decided to focus
                on the back-end development. Learning nuances of my first scripting language; Python brings me super lot
                of fun and satisfaction. I have good foundations of <span>Flask</span> and I started to learn
                Django.</p>
          </div>
        <div class="col-lg-6">
          <img class="dev-picture" src="static/img/developer.png" alt="developer">
        </div>
      </div>
        </section>
            </div>

    <div class="background">
    <section class="developer">
        <h1>Please take a look at my realisations.</h1>
        <div class="row">
          <div class="col-lg-6">

            <h3>Best Work/Cofe places in KRK. </h3>
              <p>Made in Flask with PostgreSQL DataBase. User registration and authorisation. Adding new
                   records to Databbase by registered und loged users. Simple Administrator Cockpit to update and delete posts. </p>

          </div>
        <div class="col-lg-6">
          <a href = "https://cofehauses.herokuapp.com/"><img class="dev-picture-screen" src="static/img/cofe_portfolio.jpg" alt="developer"></a>
        </div>
      </div>
      <div class="row">
          <div class="col-lg-6">

            <h3>Useful ToDo List. </h3>
              <p>Made in Django with PostgreSQL DataBase. Fell free to try out with test_user/test </p>

          </div>
        <div class="col-lg-6">
          <a href = "https://todomixer.herokuapp.com/"><img class="dev-picture-screen" src="static/img/todoliste.png" alt="developer"></a>
        </div>
      </div>
        </section>
        </div>
</body>
{% include "footer.html" %}