{% include "header.html" %}
<body>
    <div class="background">
    <section id="developer">

      <div class="row">
          <div class="col-lg-6">
            <h2>Finally I found my career path!</h2>
            <p>I have always enjoyed figuring out how does something work. If something is broken
            and I get to repair it, it is even better. That is one of the reasons why I decided to focus
                on the back-end development. Learning nuances of my first scripting language; Python brings me super lot
                of fun and satisfaction. I have good foundations of <span>Flask</span> and I started to learn
                <span>Django.</span></p>
          </div>
        <div class="col-lg-6">
          <img class="dev-picture" src="static/img/developer.png" alt="developer">
        </div>
      </div>
        </section>
        </div>
</body>
{% include "footer.html" %}