{% include "header.html" %}
<body>
    <div class="background">
    <section id="dog">

      <div class="row">
          <div class="col-lg-6">
            <h2>Proud comrade and guardian of <span>Gustaw;</span> australian sheepdog. </h2>
            <p>We have tons of fun together, but living with sheepdog in a big city is not always as colourful
                as on our Instagram. We both enjoy working with sheep and we are doing this as often as possible.
                One day we gonna herd flock of our own.
           </p>
          </div>
        <div class="col-lg-6">
          <img class="dog-picture" src="static/img/dog.png" alt="aussie">
        </div>
      </div>
        </section>
    </div>
</body>
{% include "footer.html" %}