{% include "header.html" %}
<body>

    <section id="manager">
        <h1>Manager career</h1>
      <div class="row">
          <div class="col-lg-6">
            <h2>Excellent work organisation</h2>
            <p>33 years young civil enginer Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Pellentesque porttitor non ligula tristique egestas. Mauris eu viverra dolor.</p>
          </div>
        <div class="col-lg-6">
          <img class="manager-picture" src="static/img/scrum.png" alt="scrum">
        </div>
      </div>
      <div class="row">
              <div class="col-lg-6">
                <h2>Agile und Scrum</h2>
                <p>33 years young civil enginer Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Pellentesque porttitor non ligula tristique egestas. Mauris eu viverra dolor.</p>
              </div>
            <div class="col-lg-6">
              <img class="manager-picture" src="static/img/agile.png" alt="agile">
            </div>
      </div>
      <div class="row">
              <div class="col-lg-6">
                <h2>Spedition, Logistics, Customs</h2>
                <p>33 years young civil enginer Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Pellentesque porttitor non ligula tristique egestas. Mauris eu viverra dolor.</p>
              </div>
              <div class="col-lg-6">
                <img class="manager-picture" src="static/img/truck.png" alt="truck">
              </div>
      </div>
    </section>
</body>
{% include "footer.html" %}