{% include "header.html" %}
<body>
        <div class="background">
            <section class="manager">
      <div class="row">
          <div class="col-lg-6">
            <h2>Excellent work organisation.</h2>
            <p>Independent and experienced. My career has given me many challenges. Many of them required
                thinking outside the box.   </p>
          </div>
        <div class="col-lg-6">
          <img class="manager-picture" src="static/img/scrum.png" alt="scrum">
        </div>
      </div>
        </section>
            </div>


      <div class="background">
            <section class="manager">
      <div class="row">
              <div class="col-lg-6">
                <h2>Agile and Scrum.</h2>
                <p>I am a big FAN of both methodologies. I find them very natural and healthy.
                    I'm trying to use them as well at work as in my everyday life.      </p>
              </div>
            <div class="col-lg-6">
              <img class="manager-picture" src="static/img/agile.png" alt="agile">
            </div>
      </div>
        </section>
            </div>

        <div class="background">
            <section class="manager">
      <div class="row">
              <div class="col-lg-6">
                <h2>Spedition, Logistics, Customs.</h2>
                <p>I love to trade. But negotiations,
                    meetings and making big deals it's a bit like front-end development.
                    Without solid foundations, in commerce case; Logistics in web-development; back-end, it just won't work.
                </p>
              </div>
              <div class="col-lg-6">
                <img class="manager-picture" src="static/img/truck.png" alt="truck">
              </div>
      </div>
        </section>
            </div>
</body>
{% include "footer.html" %}